
    <% include ../head %>

    <% include ../header %>

    <br><br><br>
            <div class="row">
                    
                    <!-- Blog Post Content Column -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
        
                        <h3>관리자님! 반갑습니다.</h3>
                        <hr>

                        <h4>관리메뉴</h4>
                        <ul>

                
                              <%if (whoami != undefined) { %>
                                <%if (authnum == '0') { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/write/bigwrite">게시판생성</a>
                                </li>
                                  <li class="nav-item">
                                          <a class="nav-link" href="/write/write">게시글작성</a>
                                </li>
                                <% } %> 

                              <% } else{ %>
   
                                <% } %>  

                              <li class="nav-item">
                                  <%if (whoami != undefined) { %>
                                  <a class="nav-link" href="/login/logout">로그아웃</a>

                                  <% } else{ %>
                                  <a class="nav-link" href="/login/login">로그인</a>
                                  <% } %>
                              </li>

                        </ul>

                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <!-- /.row -->


    <% include ../footer %>
 
    <script>

    </script>
                 
