
    <% include ../head %>

    <% include ../header %>
    <br><br><br>
            <div class="row">
                    
                    <!-- Blog Post Content Column -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
        
                        <!-- Blog Post -->
                        <%if (postrows != undefined) { %>
                            
                           <!-- Title -->
                           <p class="lead">
                                <p><h3><%=postrows[0]['title']%></h3></p>
                            </p>
                            <hr>
                           <!-- Author -->
                           <p class="lead">
                               <p>작성자: <%=postrows[0]['nickname']%> | 날짜:<%=postrows[0]['regdate']%> </p>
                           </p>
                           <hr>


                           <!-- Post Content -->
                           <p class="lead" id="description"></p>

                           <script>
                                   var htmlTag = "<%=postrows[0]['description']%>";  
                                   var changeToText = $("<div></div>").html(htmlTag).text();
                                   document.getElementById("description").innerHTML = changeToText;
                                   console.log(changeToText); 
                           </script>


                            <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
                            <script>

                                // 게시판에서 이미지, 유튜브 볼때 이미지 사이즈 조절

                                jQuery(document).ready(function ($) {
                                    $('iframe[src^="//www.youtube.com/"]').wrap('<div class="youtubeWrap"></div>');
                                    $('iframe[src^="//player.vimeo.com/video/"]').wrap('<div class="youtubeWrap"></div>');    
                                    $('img').addClass("responsive");
                                });
                            </script>
                           <hr>
                           <!-- Blog Comments -->
                           <br>
                       </div>
                       <div class="col-lg-1"></div>

                        <% } %>
                </div>
                <!-- /.row -->

    <% include ../footer %>
    <script>
    </script>
                 
