

</div>
<!-- /#container -->

  <!-- Footer -->

  <footer class="py-5 bg" style="background-color: #ded9fc;">
        <div class="container">
          <div class="m-0 text-center text-white">Copyright &copy; 아중감 청년부 2019</div>
            <br><div class = "m-0 text-center text-white" style="font-size:80%;">*본 사이트의 모든 사진과 영상,글의 권한은 아현중앙감리교회 청년부에 있습니다. 무단 복제 및 게시를 금지합니다.</div>
            <br><div class = "m-0 text-center text-white" style="font-size:70%;">문의: 홍보팀장 abcnt@naver.com</div>
        </div>
        <!-- /.container -->
  </footer>


</body>

</html>
