<!-- Navigation -->
  
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom p-0">
      <div class="container">
        <a class="navbar-brand" href="/">아중감 청년부 </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <%if (menus != undefined) { %>
              <% for (var i = 0; i < menus.length; i++) {  %>
            <li class="nav-item">
                <a class="nav-link" href="/read/readbig?num=<%=menus[i]['bignum']%>&album=<%=menus[i]['album']%>"><%=menus[i]['title']%></a>
            </li>
              <% } %>
            <% } %>

          </ul>
        </div>
      </div>
    </nav>
           <!-- Page Content -->
  <div class="container">



    