<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>아중감청년부</title>


        <link rel="shortcut icon" href="http://www.ajgc.co.kr/favicon.ico?v=2">

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../css/blog-post.css" rel="stylesheet">
        <link href="../css/simple-sidebar.css" rel="stylesheet">
        <link href="../css/heroic-features.css" rel="stylesheet">
        <!-- Custom 카드갤러리 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
        <link rel="stylesheet" href="../css/cards-gallery.css">

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.bundle.min.js"></script>
       

    <!-- include summernote css/js-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>   

      <!-- 구글 폰트-->
      
      <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
      
      

    <style>

/*스크롤바 숨김*/
::-webkit-scrollbar { 
    display: none; 
}

.table td ,.table th,input, .title{
  text-align: center;   
}

/*더블 클릭 방지*/
html{
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

/*전체 폰트 설정*/
body{font-family: 'font-family: 'Nanum Gothic', sans-serif';}

body{
  margin-bottom: 0;
  margin-top: 0;
  
}

.jumbotron{
  margin-top: -30px;
color:black;
margin-bottom: -30px;
}


 /*게시판에서 이미지, 유튜브 볼때 이미지 사이즈 조절*/
.youtubeWrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.youtubeWrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*게시판 글에 사진 비율 꽉차게*/
.responsive {
  max-width: 100%;
  height: auto;
}

a { color: inherit; } 

      .pagination > li > a
{
    background-color: white;
    color: gray;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: gray;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: gray;
    border: solid 1px gray;
}
body > div > div > div.col-lg-10 > div.container > div > div:nth-child(2) > ul > li.page-item.active > a
{
  background-color: gray;
  border: solid 1px gray;
}
.pagination > .active > a:hover
{
    background-color: gray;
    border: solid 1px gray;
}

/*하단 고정*/
footer {
    margin-bottom: -20%;
    bottom: -100px;
    height: 100%;
    width: 100%;
   
}


/*게시판 글 폰트 */
.note-editable{
    line-height: 1.4;
    font-size: 15px;
}


/* change the background color */
.navbar-custom {
    background-color: #ded9fc;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
        color: #ffffff;
}

.navbar {
  min-height: 60px;
}
    </style>
  </head>
  <body class="bg">


