<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>아중감청년부</title>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../css/blog-post.css" rel="stylesheet">
        <link href="../css/simple-sidebar.css" rel="stylesheet">
        <link href="../css/heroic-features.css" rel="stylesheet">
        <!-- Custom 카드갤러리 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
        <link rel="stylesheet" href="../css/cards-gallery.css">

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.bundle.min.js"></script>

    <!-- include summernote css/js-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>   

      <!-- 구글 폰트-->
      <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
    <style>

/*스크롤바 숨김*/
::-webkit-scrollbar { 
    display: none; 
}

/*더블 클릭 방지*/
html{
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

/*전체 폰트 설정*/
body{font-family: 'Poor Story', cursive;}

html, body , footer{
    margin: 0;
    padding: 0;

}

.jumbotron{
color:black;
}

    </style>
  </head>
  <body>


