
    <% include ../head %>

    <% include ../header %>
    <div class="row">    
            <div class="col-md-2"></div>
    <div class="col-md-8">
        <br>
        <br>
        <br>
            
                <div class="row"> 
                    <div class="col-md-4">
                            <select class="form-control" id="category">
                                    <option>게시판선택</option>
                                    <option>사진방</option>
                                    <option>영상방</option>
                                    <option>나눔방</option>
                                    <option>공지사항</option>
                            </select>
                    </div><!-- /col-md-2 -->



                    <div class="col-md-6">
                    <input type="text" id = "title" class="form-control" aria-label="제목" placeholder="제목">
                    </div>

                    <div class="col-md-2">
                            <label class="checkbox-inline"><input type="checkbox" value="">공지글</label>
                    </div><!-- /col-md-2 -->



                </div><!-- row -->
            
            
            <br>

            <div id="summernote"></div>

            <br>
            <br>


            <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"><button type="button" class="btn btn-success btn-lg text-center" onclick="showContent();">작성</button></div>
                    <div class="col-md-3"></div>
            </div>
            <br><br>

 
            <script>
            $('#summernote').summernote({
                height: 400,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true                  // set focus to editable area after initializing summernote
            });
            </script>


    </div>
    <div class="col-md-2"></div>
</div>

    <% include ../footer %>
 
    <script>
        function showContent() {
            $('.output').html($('#summernote').summernote('code'));
        }
    </script>
                 
